{% for item in chapter.content_set.all %}
<div class="lesson_chapter" style="margin-left: 50px;">
  <hr class="content">
    <h3 style="margin-left: 60px;">{{ item.content_header }}</h3>


{# lekce 01 kapitola 2  -lekce a projekty (zde jsou potřeba dlaždice) #}
       <p> {{ item.content_html|safe }} </p>
{#{% include 'helper.html' %}#}
       <p> {{ item.content_text }} </p>
    {% if forloop.last and not is_complete and chapter.chapter_tag == 'READING' %}
      <form method="POST">
        {% csrf_token %}
         <button value="read">Další kapitola<span></span></button>
      </form>
    {% endif %}

    {% if forloop.last and not is_complete and chapter.chapter_tag == 'TEXT' %}
        <form method="POST">
        {% csrf_token %}
          <label for="text">Tvuje odpověď: </label>
            <input id="text" type="text" name="text">
            <button value="text">Odeslat<span></span></button>
        {{ form_fail }}

      </form>

    {% endif %}

    {% if forloop.last and not is_complete and chapter.chapter_tag == 'EXAM' %}
        <form method="POST">
        {% csrf_token %}
            <button value="exam" type="submit" name="exam">Jít na test<span></span></button>
      </form>

    {% endif %}

<hr class="content">

</div>
{% endfor %}

