<div class="lesson_chapter">
  <hr class="content">

    <div class="two_divs_to_center">
    <div class="goal_req" style="float: left;">
      <ul>
      <h2>co je potřeba</h2>
      {% for req in requirements %}

        <li>{{ req }}</li>
      {% endfor %}
      </ul>
    </div>

  <div class="goal_req" style="float: right;">
    <ul>
    <h2>cíle kapitoly</h2>
      {% for goal in goals %}
        <li>{{ goal }}</li>
      {% endfor %}
    </ul>
  </div>

</div>
  <hr class="content">

</div>
