<div class="side_border">
<ul> <h6 style="margin-top: 23px; margin-bottom: 23px;">KAPITOLY</h6>

{# kapitoly #}
{% for item in chapters %}
    <div class="side">

    {% if user.progress.lesson01 >= item.chapter_order %}
    <li class="fa fa-unlock" aria-hidden="true">
        <a href="{% url 'lessons:switch' lesson.id item.chapter_link %}">
        {{ item.chapter_name }}
        </a>
    </li>
    {% else %}
    <li class="fa fa-lock" aria-hidden="true">  {{ item.chapter_name }}</li> {#co třeba ikony zámku TODO#}
    {% endif %}

    </div>
{% endfor %}
</ul>
</div>

