{% extends 'html_base.html' %}
{% block content %}
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

     <div class="welcome_card">
        <h1>Zapomenuté heslo</h1><br>

        <form class="registration_form" action="{% url 'accounts:reset' %}" method="post">
            {% csrf_token %} {# security token #}
            {{ form }}
            <input type="submit" value="odeslat">
        </form>
    <a class="back_button" href="{% url 'accounts:welcome' %}">BACK</a>
    </div>


{% endblock %}
