{% extends 'html_base.html' %}
{% block content %}

    <div class="welcome_card">
        <h1>Login</h1><br>

        <form class="site-form" action="{% url 'accounts:login' %}" method="post">
            {% csrf_token %} {# security token #}
            {{ form }}
            {% if request.GET.next %}
                <input type="hidden" name="back" value="{{ request.GET.next }}">
            {% endif %}
            <input type="submit" value="login">
        </form>
    </div>
    <a href="{% url 'accounts:welcome' %}">BACK</a>

{% endblock %}
