{% extends 'base/base_accounts.html' %}
{% block content %}
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>


    <div class="welcome_card bg_redish">

    <h2>Byl jsi odhlášen, zde si můžeš vyzkoušet kompletní funkcionalitu projektu, který budeme vytvářet.</h2><br />
    </div>



    <br/><br/><br/><br/><br/>

<div class="welcome_card">
  <h1>Pro přístup do aplikace je nutné se nejdříve registrovat.</h1>

<br />
    <a class="button" href="{% url 'accounts:register' %}">REGISTROVAT</a>
    <a class="button"  href="{% url 'accounts:login' %}" style="float: right">PŘIHLÁSIT</a>
</div>





{% endblock %}
