a:link {
  color: #2395c9;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #2c8bb9;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
.div20{
    width: 10%;
    height:100%;
    float: left;
}
.div80{
    height:100%;
    background-color: bisque;
    width: 90%;
    float: right;
}
.div100{
    width: 100%;
    background-color: aquamarine;
    height:100%;

}
body{
   height: 100vh;
   width: 100vw;
}

.courses_cards{
    width: 80%;
    padding: 5px ;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;

}
.card_c{
    display: inline-block;
    background: #ce8888;
    height: 350px;
    width: 350px;
    margin: 10px;
}
.overview_course_lesson{
    margin: 0 15px;
    float: left;
    width : 65%;
    height: 100%;
    background-color: lightgreen;
}
.overview_lesson_navigation{
    float: left;
    height: 200px;
    background-color: orange;
}
.bg_redish{
    background-color: #ffcaca;
}
.exam_card{
    width: 40%;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
                rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
}
.bg_blueish{
    background-color: #77c9ff;
}
.bg_greenish{
    background-color: #8cfd87;
}
.overview_big_card{
    border-radius: 25px;
    padding-top: 32px;
    padding-bottom: 25px;
    width: 66%;

    margin: 0 auto;

    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
                rgba(60, 64, 67, 0.15) 0 2px 6px 2px;

}
/*div pro n8ázev lekce a názvu kapitoly*/
.lesson_chapter_header{
    margin: 0 15% 15px 0;

    float: right;
    text-align: center;
    width : 68%;
    /*background-color: #ffd351;*/
    border-radius: 25px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
                rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
}
/*box pro dla6dice uvnit5 lekce*/
.lesson_chapter{
    margin: 0 15% 15px 0;
    float: right;
    width : 68%;
    /*background-color: #ffd351;*/
    border-radius: 25px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
                rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
}

hr.content{
    width: 80%;
    margin: 10px auto;
    height: 13px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}
.content_center{

    padding-left: 150px;
}
.content_center2{

    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

.two_divs_to_center{
    width: 40%;
    margin: 0 auto;
}

.goal_req{
    display: inline-block;
    vertical-align: top;
}
.center{
    margin: 0 auto;
}

.completed{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    vertical-align: center;
    border-radius: 50%;
    background-color: rgba(12, 232, 95, 0.61);
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
                rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
}

.shadow_border_down{
        box-shadow: rgba(0, 0, 0, 0.55) 0 1px 2px 0,
                    rgba(105, 103, 103, 0.68) 0 3px 6px 2px;
}
.green{
    background-color: greenyellow;

}
.red{
    background-color: red;
}


/*8*******************animated link**********/
.side{
    margin: 5px;
    width: 90%;
}
.side_border{
    margin-left: 15px;
    width: 15%;
    height: 300px;
    float: left;
    border: 1px solid black;
}



.extend_to_bottom{
    width:100%;
    height:100%;
    background-color: brown;
}



/* From cssbuttons.io by @adamgiebl */
button {
 border: none;
 display: block;
 position: relative;
 padding: 0.7em 2.4em;
 font-size: 18px;
 background: transparent;
 cursor: pointer;
 user-select: none;
 overflow: hidden;
 color: royalblue;
 z-index: 1;
 font-family: inherit;
 font-weight: 500;
}

button span {
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background: transparent;
 z-index: -1;
 border: 4px solid royalblue;
}

button span::before {
 content: "";
 display: block;
 position: absolute;
 width: 8%;
 height: 500%;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%) rotate(-60deg);
 transition: all 0.3s;
}

button:hover span::before {
 transform: translate(-50%, -50%) rotate(-90deg);
 width: 100%;
 background: royalblue;
}

button:hover {
 color: white;
}

button:active span::before {
 background: #2751cd;
}
.bg-green{
    background-color: #d0fcc9;
}
.bg-red{
    background-color: #ce8888;
}
.semicompeted{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    vertical-align: center;
    border-radius: 50%;
    background-color: rgba(255, 250, 98, 0.68);
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
                rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
}
.failed{

    width: 80px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    vertical-align: center;
    border-radius: 50%;
    background-color: rgba(255, 152, 152, 0.61);
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
                rgba(60, 64, 67, 0.15) 0 2px 6px 2px;

}
.cmd{

    width: 50%;
    background-color: black;
    color: chartreuse;
    padding: 15px 15px 15px 15px;
    margin: 15px auto;
     border: solid black 1px;
    border-radius: 15px;
}
.commands{
    width: 50%;
    background-color: rgb(0, 0, 0);
    color: rgba(127, 255, 0, 0.81);
    padding: 15px 15px 15px 75px;
    margin: 15px auto;
    border: solid black 1px;
    border-radius: 15px;

}
.content_text{
    width: 50%;
    background-color: rgba(202, 202, 202, 0.36);
    color: rgba(0, 0, 0, 0.81);
    padding: 25px 15px 15px 15px;
    margin: 15px auto;

    border-radius: 15px;
}
.content_header{
    width: 50%;
     margin: 15px auto;
}
.content_question{
    width: 50%;
    margin: 15px auto;
}
.inline{
    display: inline-block;
}
.code_div{
    background-color: #575757;
    width: 50%;
    color: white;
    text-align: left;
    padding: 25px 75px;
    margin: 0 auto;
    border-radius: 15px;

}
.content_dir{
    background-color: #212121;
    width: 12%;
    color: white;
    text-align: left;
    float: left;
    margin-left: 10%;
    padding: 4px;

    border-radius: 15px;
}
.code_tab{
    padding-left: 15px;
}
.code_tab{
    padding-left: 50px;
}
.code_y{
    color: #ffe326;
}
.code_gr{
    color: chartreuse;
}
.code_r{
    color: #c0031f;
}
.code_o{
    color: #f19b2b;
}
.code_go{
    color: #fff42a;
}
.code_b{
    color: #4674ff;
}
.code_grt{
    color: #4d8b02;
}
.code_got{
    color: #a58d06;
}
.code_grey{
    color: #adabab;
}
