{% extends 'base/base_main.html' %}
{% load extras_exam %}
{% block content %}


{% if not exams.empty %}
     <div class="overview_big_card">

    {% for exam in exams.aviable %}
      <div class="two_divs_to_center">
        <div>
            <hr>
            <a href="{% url 'exams:welcome' exam.aviable_exam.id %}">
              <h4>{{ exam.aviable_exam.exam_header }}</h4>
            </a>
            <hr>
        </div>
      </div>

    {% endfor %}
    {% for exam in exams.failed %}
        {% if exam.take == 2 %}
            {% include 'exams/retake_exam.html'%}
        {% else %}
            {% if exam|is_timed:user %}

                {% include 'exams/retake_exam.html'%}
            {% else %}
                {% include 'exams/failed_exam.html'%}
            {% endif %}
        {% endif %}
        {% empty %}
        {% endfor %}

     {% for exam in exams.success %}
            {% include 'exams/sucess_exam.html'%}
     {% endfor %}
    </div>
{% else %}

  <div  class="overview_big_card bg_redish">
    <h1 class="text-muted">V tuto chvíli nemáš žádný dostupný test</h1>
    <p>
        V horní liště klikni "COURSES" a pak na dostupnou lekci. Po konci lekce se ti odemkne test, po jehož splnění
        budeš moci začít s projekty.
    </p>
  </div>
{% endif %}
{% endblock %}
