.div20{
    width: 10%;
    height:100%;
    float: left;
}
.div80{
    height:100%;
    background-color: bisque;
    width: 90%;
    float: right;
}
.div100{
    width: 100%;
    background-color: aquamarine;
    height:100%;
}
body{
   height: 100vh;
   width: 100vw;
}
.courses_div{

}
.courses_cards{
    width: 80%;
    padding: 5px ;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
}
.card_c{
    display: inline-block;
    background: #ce8888;
    height: 350px;
    width: 350px;
    margin: 10px;

}
