.div20{
    width: 10%;
    height:100%;
    float: left;
}
.div80{
    height:100%;
    background-color: bisque;
    width: 90%;
    float: right;
}
.div100{
    width: 100%;
    background-color: aquamarine;
    height:100%;

}
body{
   height: 100vh;
   width: 100vw;
}
.side_nav{
    width: 125px;
    height: 100%;
    float: left;
    background-color: greenyellow;
}
.courses_cards{
    width: 80%;
    padding: 5px ;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
}
.card_c{
    display: inline-block;
    background: #ce8888;
    height: 350px;
    width: 350px;
    margin: 10px;
}
.overview_course_lesson{
    margin: 0 15px;
    float: left;
    width : 65%;
    height: 100%;
    background-color: lightgreen;
}
.overview_lesson_navigation{
    float: left;
    height: 200px;
    background-color: orange;
}
/*div pro n8ázev lekce a názvu kapitoly*/
.lesson_chapter_header{
    margin: 0 150px 15px 0;

    float: right;
    text-align: center;
    width : 73%;
    background-color: #ffd351;
    border-radius: 25px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
                rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
}
/*box pro dla6dice uvnit5 lekce*/
.lesson_chapter{
    margin: 0 150px 15px 0;
    float: right;
    width : 73%;
    background-color: #ffd351;
    border-radius: 25px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
                rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
}

.goal_req{
    float:left;

}

.overview_big_card{
    width: 77%;
    height: 80%;
    margin: 65px auto;
    border-radius: 25px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
                rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
}

.shadow_border_down{
        box-shadow: rgba(0, 0, 0, 0.55) 0 1px 2px 0,
                    rgba(105, 103, 103, 0.68) 0 3px 6px 2px;
}
.green{
    background-color: greenyellow;

}
.red{
    background-color: red;
}


/*8*******************animated link**********/
.side {
    margin: 5px;
    width: 90%;
}
.side a {
  position: relative;
}

.side a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

.side a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.extend_to_bottom{
    width:100%;
    height:100%;
    background-color: brown;
}

.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}
