{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'todo.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<a href="{% url 'projects:all' %}">
<div style="border: 2px solid rgba(105, 103, 103, 0.68);
            border-radius: 15px;
            background: orangered;
            padding: 10px;
            width:150px;">
    zpět na projekty
</div>
</a>
<div class="box2">

  <div class="center">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="ulož">
      </form>
  </div>

</div>

{% include 'projects/ukoly_two.html' %}
</body>
</html>

