<nav class="navbar navbar-light shadow_border_down navbar-expand-md bg-faded justify-content-center p-2 " style="background-color: #cbcbcb; margin-bottom: 30px;">
    <a href="{% url 'crossroad:welcome' %}" class="navbar-brand d-flex w-50 mr-auto p-2">Aplikace</a>
    <div class="navbar-collapse collapse w-100 text-dark " id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center nav-tabs">
            <li class="nav-item active">
                <a class="nav-link {% if request.path == "/crossroad/overView/" %} active {% endif %}"
                   href="{% url 'crossroad:overview' %}">Lekce</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == "/crossroad/" %} active {% endif %}"
                   href="{% url 'crossroad:welcome' %}">O aplikaci</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == "/exams/all/" %} active {% endif %}"
                   href="{% url 'exams:all' %}">Testy</a>
            </li>

            <li class="nav-item">
                        <a class="nav-link {% if request.path == "/projects/all/" %} active {% endif %}"
                           href="{% url 'projects:all' %}">Projekty</a>
                    </li>
        </ul>


        <ul class="nav navbar-nav  w-100 justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:logout' %}">Odhlásit</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">{{ user }}</a>
            </li>

        </ul>
    </div>
</nav>
