{% extends 'base/base_main.html' %}
{% block content %}
{% load static %}
    <div  class="overview_big_card">

    <h1 class="text-muted">Welcome placeholder</h1>

    <br>
    <br>
    <br>

    <div class="code_div" style="width: 50%">
    <span class="code_y">@login_required</span>
    <span>(</span>
    <span class="code_r">login_url=</span>
    <span class="code_gr">'/accounts/login/'</span>
    <span>)</span><br>
    <span class="code_o">def</span>
    <span class="code_go">courses_overview_view</span>
    <span>(request):</span><br>
        <div class="code_tab">
            &nbsp; list_courses = Lesson.objects.all()<br>
            &nbsp; <span class="code_b">print</span>()
        </div>
    </div>



{% endblock %}
