{% extends 'base/base_main.html' %}
{% block content %}
{% load static %}
    <div  class="overview_big_card">

    <h1 class="">Vítej</h1>

    <br>
    <br>

    <p>
    Vítej na e-learningových webové aplikaci. Budeš zde seznámen s tworbou vebowých stránek ve frameworku Django.<br>
    Nejdrříve vytvoříš kostru projektu, kterou budeš postupně rozšiřovat.<br>
    Pokud si nevíš rady. Na navigační liště klikni na záložku „Lekce“. Vyber si první lekci. V první lekci je popsáno jak s těmito webovými stránkami pracovat.
    </p>
    </div>
{% endblock %}
